<!DOCTYPE html>
<html lang="en">
	
	<head>
		<% include ../../partials/head %>
		<!-- NProgress -->
		<link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
		<!-- iCheck -->
		<link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
		<!-- Datatables -->
		<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
		<% include ../../partials/post_head %>
	</head>
	
	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				<% include ../../partials/sidebar %>
				<% include ../../partials/topnav %>
				
				<!-- page content -->
				<div class="right_col" role="main">
					<div class="">
						
						<div class="page-title">
							<div class="title_left">
								<h3>Compras</h3>
							</div>
						</div>
						
						<div class="clearfix"></div>
						
						<div class="row">       
							<div class="col-xs-12">
								<div class="x_panel">
									
									<div class="x_title">
										<h2>Gráfico</h2>
										<ul class="nav navbar-right panel_toolbox">
											<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
											<li><a class="close-link"><i class="fa fa-close"></i></a></li>
										</ul>
										<div class="clearfix"></div>
									</div>
									
									<div class="x_content">
										<canvas id="chart" height="250px"></canvas>
									</div>
									
								</div>
							</div>
							
							<div class="col-xs-12">
								<div class="x_panel">
									
									<div class="x_title">
										<h2>Todas Compras</h2>
										<ul class="nav navbar-right panel_toolbox">
											<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
											<li><a class="close-link"><i class="fa fa-close"></i></a></li>
										</ul>
										<div class="clearfix"></div>
									</div>
									
									<div class="x_content">
										
										<table id="comprasTable" class="table table-striped table-bordered bulk_action">
											<thead>
												<tr>
													<th class="column-title">Venda ID</th>
													<th class="column-title">Entidade</th>
													<th class="column-title">Número Documento</th>
													<th class="column-title">Data</th>
													<th class="column-title">Total Mercadoria</th>
													<th class="column-title">Linhas Documento</th>
												</tr>
											</thead>
											
											<tbody>
												<% compras.forEach(function(com){ %>
												<tr>
													<td><a href="/compras/<%= com.InvoiceNo %>"><%= com.InvoiceNo %></a></td>
													<td><a href="/fornecedores/<%= com.CustomerID %>"><%= com.CustomerID %></a></td>
													<td><%= com.NumDoc %></td>
													<td><%= com.InvoiceDate %></td>
													<td><%= com.GrossTotal %></td>
													<td>
														<% (com.LinhasDoc).forEach(function(lin){ %>
														<%= lin.CodArtigo %>
														&#9866;
														<% }); %>
													</td>
												</tr>
												<% }); %>
											</tbody>
										</table>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /page content -->
				
			</div>
			
		</div>
		
		<% include ../../partials/footer %>
		
		<!-- FastClick -->
		<script src="/vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="/vendors/nprogress/nprogress.js"></script>
		<!-- Chart.js -->
		<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
		<!-- iCheck -->
		<script src="/vendors/iCheck/icheck.min.js"></script>
		<!-- Datatables -->
		<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
		<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
		<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
		<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
		<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
		<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
		<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
		<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
		<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
		<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
		<script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
		<!-- Moment -->
		<script src="/vendors/moment/min/moment.min.js"></script>
		<script>
			$('#comprasTable').dataTable();
			var compras = <%- JSON.stringify(compras) %>;
			var compras_por_mes = [0,0,0,0,0,0,0,0,0,0,0,0];
			compras.forEach(function(compra){
			var mes = moment(compra.Data).month();
			compras_por_mes[mes] += parseFloat(compra.TotalMerc);
			});
			var ctx = document.getElementById("chart").getContext('2d');
			var chart = new Chart(ctx, {
			type: 'line',
			data: {
			labels:  ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
			datasets: [{
			label: 'Compras (€)',
			data: compras_por_mes,
			backgroundColor: 'rgba(255,140,0, 0.2)',
			borderColor: 'rgba(255,140,0, 1)',
			borderWidth: 1
			}]
			},
			options: {
					responsive: true, 
					maintainAspectRatio: false,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
		</script>
		<% include ../../partials/post_footer %>
	</body>
	
</html>

