<!DOCTYPE html>
<html lang="en">
	
	<head>
		<% include ../../partials/head %>
		<!-- NProgress -->
		<link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
		<!-- iCheck -->
		<link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
		<!-- Datatables -->
		<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
		<link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
		<% include ../../partials/post_head %>
	</head>
	
	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				<% include ../../partials/sidebar %>
				<% include ../../partials/topnav %>
				
				<!-- page content -->
				<div class="right_col" role="main">
					<div class="">
						
						<div class="page-title">
							<div class="title_left">
								<h3>Clientes</h3>
							</div>
						</div>
						
						<div class="clearfix"></div>
						
						<div class="row">       
							
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									
									<div class="x_title">
										<h2>Todos Clientes</h2>
										<ul class="nav navbar-right panel_toolbox">
											<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
											<li><a class="close-link"><i class="fa fa-close"></i></a></li>
										</ul>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							
							<div class="x_content">
								
								<table id="datatable" class="table table-striped table-bordered bulk_action">
									<thead>
										<tr>
											<!-- <th>
												<input type="checkbox" id="check-all" class="flat">
											</th> -->
											<th class="column-title">Morada</th>
											<th class="column-title">Código Cliente </th>
											<th class="column-title">Nome Cliente </th>
											<th class="column-title">Número Contribuinte</th>
											<th class="column-title">Moeda</th>
											<th class="column-title">Email</th>
											<!--<th class="bulk-actions" colspan="7">
												<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
											</th> -->
										</tr>
									</thead>
									
									<tbody>
										<% clientes.forEach(function(cli){ %>
										<tr>
											<!-- <td class="a-center ">
												<input type="checkbox" class="flat" name="table_records">
											</td> -->
											<td><%= cli.Morada %></td>
											<td><a href="/clientes/<%= cli.CodCliente %>"><%= cli.CodCliente %></a></td>
											<td><a href="/clientes/<%= cli.CodCliente %>"><%= cli.NomeCliente %></a></td>
											<td><%= cli.NumContribuinte %></td>
											<td><%= cli.Moeda %></td>
											<td><%= cli.Email %></td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->
		
	</div>
	
</div>

<% include ../../partials/footer %>

<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/vendors/jszip/dist/jszip.min.js"></script>
<script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
<% include ../../partials/post_footer %>
</body>

</html>

